* {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: black;
    
    
}
a {
    text-decoration: none;
}

li {
    padding : 15px 15px;
}
.banner img {
    width: auto;
}
p, h1 {
    color: white;
}




 

}