*{
    padding: 0;
    margin: 0;
    list-style: none;
    background-color:black;
}
a {
    text-decoration: none;
}

li {
    padding : 15px 15px;
}

p {
    color: #03a9be;
    margin: 10px;
    padding: 10px;
}

h1, h5, h6 {
    text-align: center;
    color: #00bcd4;
    margin:25px;
}

article{
    text-align: center;
    margin:10px;
    padding: 10px;
    
}
.btn-right{
    position: absolute;
    right: 10px;
}

input{
    color: #03a9be;
    margin: 10px;
    padding: 10px;
}

/*Banner*/

.banner {
    
    margin: auto;
    padding:20px;
}

/*habilidades*/

.card {
    background-color: black;  
    height:220px;
    width: 250px;
    margin:20px;
    padding:20px;
    align-items: center;
    justify-content: center;
    border:#00bcd4 solid;
}




/*Proyectos*/




.cardgaleria img {
    width: 100px;
    height:auto;
  
    
}
.cardgaleria p{
    
    text-align:center;
    
}
 


.cardgaleria{
    
    margin:auto;
    padding:9px;
    box-shadow: 3px 2px 25px  #00bcd4;
  
}



footer{
    background-color:#1d1d1d;
    color:#00bcd4;

}
